main
    background-color #C9B7AD

.cards
    width: 100%
    margin 5px
    display grid
    justify-content center
    grid-template-rows 2fr
    grid-template-columns repeat(auto-fit, minmax(320px, 10fr))
    //grid-column-gap 60px
    grid-row-gap 60px

.wrapper
    max-width 1300px
    margin auto
    padding 36px

.o_nas
    max-width 600px
    margin auto
    padding 36px
    text-align justify

.nabidka
    max-width 1300px
    margin auto
    text-align center