main
    background-color #C9B7AD

.cards
    width: 100%
    margin 5px
    display grid
    justify-content center
    grid-template-rows 2fr
    grid-template-columns repeat(auto-fit, minmax(320px, 10fr))
    //grid-column-gap 60px
    grid-row-gap 60px

.wrapper
    max-width 1300px
    margin auto
    padding 36px

.o_nas
    max-width 700px
    margin auto
    padding 36px
    display flex
    flex-direction row
    justify-content center
    
    .text_o_nas
        margin auto
        text-align justify
    
    .obrazek
        margin 0
        padding 16px
        

        img
            height 136px

.nabidka
    max-width 1300px
    margin auto
    text-align center